@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
@import "tailwindcss";

:root {
  --pink-100: #ee42ee75;
  --pink-300: rgb(180, 66, 209);
  --green-100: #279c27d7;
}

body {
  background: linear-gradient(322deg, #ff87ca, #cea1d3);

  display: grid;
  place-content: center;
  min-height: 100vh;
}
